ClientArticle/Connected Services/ServiceReferenceArticle/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64948/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceArticle" />
  <xs:element name="PostArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceArticle" minOccurs="0" name="article" nillable="true" type="q1:Article" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournaliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="journaliste_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceArticle" minOccurs="0" name="GetJournalisteResult" nillable="true" type="q2:Journaliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>