ClientArticle/Connected Services/ServiceReferenceArticle/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceArticle" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceArticle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64948/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="articleId" type="xs:int" />
      <xs:element minOccurs="0" name="auteur" nillable="true" type="tns:Journaliste" />
      <xs:element minOccurs="0" name="date_parution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="texte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titre" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:complexType name="Journaliste">
    <xs:sequence>
      <xs:element minOccurs="0" name="journaliste_id" type="xs:int" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Journaliste" nillable="true" type="tns:Journaliste" />
</xs:schema>